* {
    box-sizing: border-box;
  }
  
main {
    margin: auto;
}

body{
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
}

#hsLink {
    color: purple;
    background-color: white;
    border: none;
    font-size: 16px;
}

#countdown{
    float: right;
}

#title, h1, h2{
    text-align: center;
}

button{
    background-color: purple;
    border-radius: 8px;
    border-color: violet;
    color: white;
    padding:2px;
    margin: 2px;
}

.quizModule {
    position: relative;
    text-align: left;
    margin:2px;
}

#highscoreList {
    background-color:violet;
    font-size: 20px;
    padding:2px;
}

#incorrect{
    color: gray;
}